.card {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card p {
  color: yellow;
  align-self: baseline;
}

.chip {
  background: #ffca28;
  color: black;
}

.btn-floating i {
  color: black;
}

.chip:hover {
  background: white;
}

nav ul a {
  color: black;
}

nav ul a:hover {
  background-color: rgba(255, 255, 255, 0);
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #01579b;

  box-shadow: 0 1px 0 0 #01579b;
}

.wrapper input.select-dropdown:focus:not([readonly]) {
  color: #01579b;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #01579b;
}

ul.dropdown-content.select-dropdown li span {
  color: #01579b;
}

.select-dropdown {
  color: #01579b;
}

label {
  color: #26c6da;
  display: block;
}

.material-icons {
  color: black;
}

.article-chip {
  color: #ffca28;
}

.input-field label {
  color: #ffca28;
}

.select-wrapper input.select-dropdown {
  border-bottom: 1px solid #01579b;
}

textarea.materialize-textarea {
  border-bottom: 1px solid #01579b;
}

.article-page {
  margin: 3em;
  border: black solid 2px;
  border-radius: 0.9em;
  min-width: 300px;
}

.article-heading {
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  padding: 1em;
  border-bottom: black solid 2px;
}

.article-votes {
  display: inline-block;
}

.comment-vote {
  display: inline-block;
}

.commentHeader {
  padding: 0.3em;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
}

.comment-container {
  margin: 2em;
  padding: 0.5em;
  margin-bottom: 1em;
}

.sort {
  border-radius: 5px;
  margin: 1em;
}

h1 {
  text-align: center;
  background-color: #26c6da;
  width: auto;
  margin: 0;
  padding-top: 0.8em;
  padding-bottom: 20px;
}

ul #nav-mobile.side.nav {
  background-color: #ffca28;
}

.vote-count {
  font-size: 24px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  display: inline;
  border: solid, black 1px;
}

.comment-post {
  margin: 2em;
  padding: 0.5em;
  border: black solid 2px;
  border-radius: 1em;
}

.picker {
  margin: 2em;
  padding: 0.5em;
  border: black solid 2px;
  border-radius: 1em;
}

nav {
  margin-bottom: 10px;
}

.grey-text.text-darken-4 {
  color: black !important;
  background-color: #26c6da !important;
  border: 1px #26c6da solid !important;
  border-radius: 5px;
}

.preview-display {
  width: 70%;
  margin: auto;
}

.card-content {
  width: 100%;
}

.commentBody {
  margin-bottom: 2px;
}
/* 
.input .select-dropdown active {
  color: #01579b;
} */

/* amber lighten-1  */
/* #ffca28  */

/* cyan lighten-1 */
/* #26c6da  */

/* light-blue darken-4
#01579b */

/* indigo lighten-1
#5c6bc0  */
