.card {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card p {
  color: yellow;
  align-self: baseline;
}

.chip {
  background: rgb(175, 238, 238);
}

.chip:hover {
  background: rgb(236, 220, 174);
}
