* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-wrap: break-word;
}

.card {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card p {
  color: yellow;
  align-self: baseline;
}

.chip {
  background: #ffca28;
  color: black;
}

.btn-floating i {
  color: black;
}

.chip:hover {
  background: white;
}

nav ul a {
  color: black;
}

nav ul a:hover {
  background-color: rgba(255, 255, 255, 0);
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #26c6da;

  box-shadow: 0 1px 0 0 #26c6da;
}

.wrapper input.select-dropdown:focus:not([readonly]) {
  color: #26c6da;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #26c6da;
}

ul.dropdown-content.select-dropdown li span {
  color: #26c6da;
}

.select-dropdown {
  color: #26c6da;
}

label {
  color: #26c6da;
  display: block;
}

.material-icons {
  color: black;
}

.article-chip {
  color: #ffca28;
}

.input-field label {
  color: #ffca28;
}

.select-wrapper input.select-dropdown {
  border-bottom: 1px solid #26c6da;
  padding-top: 20px;
}

textarea.materialize-textarea {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #26c6da;
}

.article-page {
  margin: 3em;
  border: black solid 2px;
  border-radius: 0.9em;
  min-width: 300px;
}

.article-heading {
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  padding: 1em;
  border-bottom: black solid 2px;
}

.article-votes {
  display: inline-block;
}

.comment-vote {
  display: inline-block;
}

.commentHeader {
  padding: 0.3em;
  border-top: black solid 2px;
  border-bottom: black solid 2px;
}

.comment-container {
  margin: 2em;
  padding: 0.5em;
  margin-bottom: 1em;
}

.sort {
  border-radius: 5px;
  margin: 1em;
}

.sort:active {
  color: red;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  background-color: #26c6da;
  width: auto;
  margin: 0;
  padding-top: 0.8em;
  padding-bottom: 20px;
}

ul #nav-mobile.side.nav {
  background-color: #ffca28;
}

.vote-count {
  font-size: 24px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  display: inline;
  border: solid, black 1px;
}

.comment-post {
  margin: 2em;
  padding: 0.5em;
  border: black solid 2px;
  border-radius: 1em;
}

.picker {
  margin: 2em;
  padding: 0.5em;
  border: black solid 2px;
  border-radius: 1em;
}

nav {
  margin-bottom: 10px;
}

.grey-text.text-darken-4 {
  color: black !important;
  background-color: #26c6da !important;
  border: 1px #26c6da solid !important;
  border-radius: 5px;
}

.preview-display {
  width: 70%;
  margin: auto;
}

.card-content {
  width: 100%;
}

.commentHeader {
  font-size: 20px;
  width: 100%;
  margin: auto;
}

article {
  padding-top: 1em;
  padding-bottom: 1em;
}

.commentBody {
  margin-bottom: 2px;
}

.post-form {
  margin: 3em;
  padding: 1.2em;
  margin-bottom: 1em;
  border: black solid 2px;
  border-radius: 0.9em;
  min-width: 300px;
}

.topic-label {
  color: #ffca28;

  font-size: 20px;
}

.article-title {
  margin-bottom: 0px;
}

.preview-icon {
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.selector {
  margin-left: 3em;
  width: 20%;
}

.selector label {
  color: #ffca28;
  width: 40%;
  padding-bottom: 1em;
  overflow-wrap: normal;
}

.browser-default {
  border-bottom: none;
  color: #26c6da;
}

.login {
  margin-top: 1.2em;
}

.btn {
  background-color: #ffca28;
}
.btn:hover {
  background-color: #26c6da;
}

.btn:focus {
  background-color: #26c6da;
}

.delete {
  padding-left: 1em;

  display: inline;
}

@media all and (max-width: 500px) {
  .selector {
    margin-left: 3em;
    width: 40%;
  }

  .selector label {
    color: #ffca28;
    width: 40%;
    padding-bottom: 1em;
  }
}
